@font-face {
  font-family: "NotoSansKR";
  font-weight: bold;
  font-display: swap;
  src: url("fonts/NotoSansCJK/NotoSansCJKkr-Bold.otf") format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 500;
  font-display: swap;
  src: url("fonts/NotoSansCJK/NotoSansCJKkr-Medium.otf") format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  font-display: swap;
  src: url("fonts/NotoSansCJK/NotoSansCJKkr-Regular.otf") format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 300;
  font-display: swap;
  src: url("fonts/NotoSansCJK/NotoSansCJKkr-Light.otf") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-family: "NotoSansKR", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}
